
.containerFormFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; 
  margin: 0 auto;
  padding: 10px;
}

.containerFormFooter div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLabel{
  width: 100%;
  text-align: start;
}

.containerFormFooter input,
.containerFormFooter textarea {
  padding: 6px;
  margin: 5px;
  width: 50%;
}
.containerFormFooter label{
  width: 10%;
}
.containerBtn{
  width: 20%;
  display: flex;
  margin-top: 4px;
}

a {
  text-decoration: none; 
  color: #333;
  display: flex;
  align-items: center;
}

img.github-icon {
  width: 24px; 
  height: 24px; 
  margin-right: 8px; 
  margin-top: 4px;
}