body{
  font-family: Arial, Helvetica, sans-serif;
}
.containerMain{
  display: flex;
  background-color: #e9ecef;
}
.sectionLeft, .asideContainer {
  flex: 1;
}
.sectionContainer {
  flex: 3;
}
.sectionLeft, .asideContainer, .sectionContainer {
  padding: 10px;
  text-align: center;
  height: 54vh;
}

.containerScore {
  display: flex;
  justify-content: center;
}

a{
  cursor: pointer;
}

#stickyHeader {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14), 0 4px 5px 0 rgba(0, 0, 0, .12), 0 1px 10px 0 rgba(0, 0, 0, .2);
  background-color: #662938;
  color: #ffffff;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 5px 0;
  height: 50px;
}
.navbarContainer {
  display: flex;
  padding: 0 10px;
  align-items: center;
  height: 100%;
}
.navbarContainer h3 {
  margin-right: 20px;
  font-size: 20px;
}
.navbarContainer ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbarContainer li {
  margin: 0 15px;
}
.navbarContainer a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
}
.navbarContainer a:hover {
  background-color: #ffffff;
  border-radius: 5px;
  color: #662938;
}

#logo2 {
  width: 8%;
  margin-right: auto;
  min-width: 100px;
}

.containerFooter{
  text-align: center;
  padding: 10px;
  border-top: 1px solid #000;
}

#wordsTable{
  display: none;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#wordsTable th,
#wordsTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#wordsTable th {
  background-color: #f2f2f2;
}

#wordsTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#wordsTable .invalid-word {
  color: red;
  font-weight: bold;
}

#scoresTable {
  width: 100%;
  border-collapse: collapse;
}

#scoresTable th,
#scoresTable td {
  padding: 12px;
  text-align: center; 
}

#scoresTable th {
  background-color: #f2f2f2;
  color: black;
}

#scoresTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

#scoreHeader{
  cursor: pointer;
}

#scoresModal{
  display: none;
}